@layer base {
  html {
    overscroll-behavior: none;
    overscroll-behavior-block: none;
    touch-action: pan-y;
  }
  body {
    background: var(--gray-100);
    overscroll-behavior: none;
    overscroll-behavior-block: none;
  }

  ul,
  ol {
    /* padding-inline-start: 1.1rem; */
  }

  h1 {
    max-width: 20ch;
  }

  h2,
  h3 {
    max-width: 28ch;
  }

  a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }
}
