---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import CategoryList from "../../components/CategoryList.astro";
import IndexLayout from "../../layouts/IndexLayout.astro";
import Layout from "../../layouts/Layout.astro";

const recipeEntries = await getCollection("recipes");

// Extract unique categories from recipe ids (e.g., "frokost/bananpandekager")
const categories = recipeEntries.map((recipe) => recipe.id.split("/")[0]);
const uniqueCategories = [...new Set(categories)] as string[];

// Sort categories in desired order
const sortOrder = ["morgenmad", "frokost", "aftensmad", "snacks"];
uniqueCategories.sort((a, b) => sortOrder.indexOf(a) - sortOrder.indexOf(b));
---

<Layout title="Opskrifter">
  <IndexLayout>
    <h1 class="visually-hidden">Opskrifter</h1>
    <div class="toggle-wrapper">
      <button class="toggle-view" aria-pressed="false">
        <Icon name="lucide:layout-list" />
      </button>
    </div>
    {uniqueCategories.map((category) => <CategoryList category={category} />)}
  </IndexLayout>
</Layout>

<style>
  @layer components {
    .toggle-wrapper {
      position: sticky;
      top: 1rem;
      place-self: center end;
      z-index: 10;
    }

    .toggle-view {
      appearance: none;
      background: #fff;
      box-shadow:
        #fff 0 0,
        #3341551a 0 0 0 1px,
        #0000000d 0 20px 25px -5px,
        #0000000d 0 8px 10px -6px;
      border: none;
      padding: var(--space-sm);
      border-radius: var(--border-radius-medium);
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      touch-action: manipulation;
    }

    .toggle-view[aria-pressed="true"] {
      background: var(--gray-200);
      box-shadow:
        var(--gray-100) 0 0,
        inset #33415536 0 1px 0,
        inset #fff 0 -2px 0;
    }

    .toggle-view svg {
      width: var(--space-lg);
      height: var(--space-lg);
    }
  }
</style>
