---
import Layout from "../layouts/Layout.astro";
import IndexLayout from "../layouts/IndexLayout.astro";
---

<Layout title="Opskrifter">
  <IndexLayout>
    <h1 class="visually-hidden">Opskrifter</h1>
    <div>
      <section>
        <header>
          <h2>Madopskrifter</h2>
          <p>Få inspiration til madlavningen</p>
        </header>

        <ul role="list">
          <li style="--hsl: 300 80% 65%">
            <a href="/opskrifter">Opskrifter til Fillie</a>
          </li>
          <li style="--hsl: 217deg 98% 68%">
            <a href="/#">Inspiration</a>
          </li>
        </ul>
      </section>
    </div>
  </IndexLayout>
</Layout>

<style>
  div {
    container: div / inline-size;
  }
  section {
    --gap: min(1rem, 3cqw);
    display: grid;
    grid: auto / repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    gap: var(--gap);

    margin-block: var(--space-xl);
  }

  header {
    margin-block-start: var(--space-xl);
  }

  @container div (width <= 25rem) {
    header {
      grid-column: 1 / -1;
    }
  }

  h2 {
    font-size: var(--size-step-2);
    line-height: 1.125;
    margin-block-end: var(--space-md);
  }

  ul {
    display: contents;
  }

  li {
    container: list / inline-size;
  }

  a {
    position: relative;
    background: hsl(var(--hsl) / 20%);
    color: hsl(var(--hsl));
    font-weight: 700;
    aspect-ratio: 1;
    margin: var(--gap);
    padding: 5cqw;

    font-size: var(--size-step-0);

    display: grid;
    place-content: center;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    inset: 0;
    border: clamp(1px, 1cqw, 2px) dashed hsl(var(--hsl));
    pointer-events: none;
    transform: rotate(-5deg);
  }
</style>
