---
import { Icon } from "astro-icon";

const currentPage = Astro.url.pathname;

const notIndex = currentPage !== "/opskrifter/" && currentPage !== "/";
---

<!-- <div class="header-shifter"></div> -->
<header class="header">
  {
    notIndex && (
      <a class="back" href="/opskrifter/">
        <Icon name="lucide:chevron-left" width="18" />
        Tilbage
      </a>
    )
  }
  <div class="logo">
    <a href="/">FogOp</a>
  </div>
</header>

<style>
  @layer components {
    header {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      padding: 1rem;
      background: hsl(0 0% 100% / 80%);
      box-shadow: #3341551a 0 0 0 1px, #0000000d 0 20px 25px -5px,
        #0000000d 0 8px 10px -6px;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      contain: layout paint;
    }

    @media (max-width: 640px) {
      header {
        position: fixed;
        inset: auto 0 0 0;
        z-index: 10;
      }
    }

    .logo {
      grid-column: 2;
    }

    .logo a {
      font-family: "Mona Sans", system-ui;
      font-size: var(--size-step-2);
      font-weight: 900;
      color: var(--text-body);
      text-decoration: none;
    }

    .back {
      display: flex;
      font-weight: 500;
      align-items: center;
      color: var(--text-muted);
      font-size: var(--size-step--1);
      text-decoration: none;
    }
  }
</style>

<script>
  //   const header = document.querySelector(".header");
  //   const headerShifter = document.querySelector(".header-shifter");

  //   header.style.position = "sticky";
  //   header.style.top = "calc(var(--computed-height) * -1 - 1px)";
  //   header.style.bottom = "calc(100% - var(--computed-height))";

  //   function fixHeaderoffset() {
  //     const { height } = header.getBoundingClientRect();
  //     header.style.setProperty("--computed-height", height + "px");

  //     const y = Math.min(
  //       header.offsetTop,
  //       document.documentElement.scrollHeight - innerHeight - height
  //     );
  //     headerShifter.style.height = y + "px";
  //     header.style.marginBottom = -y + "px";
  //   }

  //   addEventListener("scroll", () => fixHeaderoffset());
  //   addEventListener("resize", () => fixHeaderoffset());
  //   fixHeaderoffset();
</script>
