---
import "../styles/global.css";

import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href="/assets/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/object-sans-var.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style is:inline>
      @layer reset, base, components, utilities;
    </style>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  @layer components {
    main {
      margin-block-end: var(--space-xxxl);
    }
  }
</style>
