---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const { title, img, time, yield: yieldInfo } = frontmatter;
---

<Layout title={title}>
  <main>
    <figure>
      <Image
        src={img}
        width={600}
        aspectRatio={16 / 9}
        format={"avif"}
        fit={"cover"}
        loading={"eager"}
        alt=""
      />
      <div>
        {
          time && (
            <p>
              <Icon name="lucide:clock" width={18} />
              <span>{time} min.</span>
            </p>
          )
        }
        {
          yieldInfo && (
            <p>
              <Icon name="ic:outline-cookie" width={18} />
              <span>{yieldInfo}</span>
            </p>
          )
        }
      </div>
    </figure>
    <slot />
  </main>
</Layout>

<style>
  @layer components {
    figure {
      display: grid;
    }

    figure > * {
      grid-area: 1 / 1;
    }

    div {
      place-self: end stretch;
      display: flex;
      gap: var(--space-md);
      flex-wrap: wrap;
      padding: var(--space-xxxl) var(--space-md) var(--space-xs);
      background: linear-gradient(to top, hsl(0 0% 0% / 80%), #0000);
    }

    /* div {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    box-shadow: #3341551a 0 0 0 1px, #0000000d 0 20px 25px -5px;
    background: linear-gradient(#fff 0, #f3f4f6 100%) padding-box, #fff;
    padding: 1rem;
    border-radius: 8px;
  } */

    p {
      display: flex;
      gap: var(--space-xxs);
      align-items: center;
      margin: 0;
      font-weight: 600;
      color: #fff;
      font-size: var(--size-step--1);
    }
  }
</style>
